body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    padding: 1em;
    color: slategrey;
}

img {
    max-width: 100%;
}

nav ul {
    padding-left:0;
}

nav ul a{
    text-decoration: none;
    font-weight: bold;
    color: slategrey;
}

nav ul li {
    background-color: white;
    list-style: none;
    margin-bottom: 10px;
    padding: .5em;
}

section {
    text-align: center;
    background-color: white;
    padding: 1em;
}

h1 {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1em;
}

img {
    max-width: 100%;
}