* {
    box-sizing: border-box;  
}

body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    padding: 1em;
    color: slategrey;
}

.top-bar {
    padding: 1em;
    text-align: center;
    color: gray;
}

img {
    max-width: 100%;
}

.main-nav ul {
    padding-left:0;
}

.main-nav ul a{
    text-decoration: none;
    font-weight: bold;
    color: slategrey;
}

.main-nav ul li {
    background-color: white;
    list-style: none;
    margin-bottom: 10px;
    padding: .5em;
}

section {
    text-align: center;
    background-color: white;
    padding: 1em;
}

footer {
    text-align: center;
    padding: 3em 1em 1em 1em;
    color: gray;
}

a:visited {
    color: gray;
}

p {
    font-size: 1.3em;
}

h1 {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}

h2 {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1em;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
}

img {
    max-width: 100%;
}

.footer-text {
    font-weight: bold;
}

.lower-nav {
    margin-top: 4em;
    border-top: solid 2px gray;
    padding: 2em 0 2em 0;
}

.lower-nav a {
    text-decoration: none;
}

.lower-nav h2 {
    margin: 0;
}

.lower-nav ul {
    padding-left:0;
    margin: 0;
    list-style: none;
    float: right;
}

.lower-nav ul li {
    font-weight: bold;
}

.lower-label {
    display: inline-block;
    float: left
}

.btt {
    display: inline-block;
}

.lg-link {
    display: none;
}

@media (min-width: 768px) {

    .main-nav ul li {
        display: inline-block;
        background-color: transparent;
    }

    .top-bar {
        text-align: center;
    }

    header p {
        width: 50%;
    }

    header img {
        float: right;
        width: 50%;
        margin-left: 15px;
    }

    .col {
        padding: .5em;
        width: 50%;
        float: right;
    }

    .container {
        max-width: 70%;
        margin: auto;
    }

    .lg-link {
        display: inline-block;
        margin-left: 10px;
    }

    .btt {
        display: none;
    }

    .cf:after {
        content: "";
        display: table;
        clear: both;
    }

}

@media (min-width: 1024px) {
    .main-nav {
        width: 50%;
        float: right;
    }

    .upper-label {
        margin: 16px 0 16px 0;
        float: left;
        width: 50%;
    }

    .main-nav ul li{
       padding-bottom: 0;
    }

    .main-section {
        max-width: 1000px;
        margin: auto;
    }

    .col {
        width: 33%;
    }

    .cf:after {
        content: "";
        display: table;
        clear: both;
    }

}